.first{
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    display: flex;
}

.subcontainer{
    height: 100vh;
    width: 30vw;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(orange,purple);
    background-attachment: fixed;
}

.subcontainer2{
    height: 100vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(orange,purple);
}

#titulo{
    margin: 20px;
}

#posicaotabela{
    height: auto;
    width: auto;
}

#tabela{
    margin: 20px;
}

#botao{
    margin: 20px;
}

#imagem{
    height: 50vh;
    width: 29vw;
    padding-left: 20px;
}

#imagem{
    height: 50vh;
    width: 20vw;
    margin: 50px;
}

#acao{
    margin: 30px;
}

#colunas{
    background-color: orange;
}
#registros{
    background-color: black;
}
#cor{
    color: white;
}