.maingergerenfunc{
    flex-direction: row;
    display: flex;
    align-items: center;
}

.prigerenfunc{
    margin-top: 0%;
    padding: 0%;
    height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(orange,purple);
}

.bvoltargerenfunc{
    flex-direction: row;
    margin-left: 110px;
}

.titulo{
    width: 100vw;
    height: auto;
    text-align: center;
    background-color: purple;
    background-position: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#tableger{
    margin-left: 600px;
    height: 10px;
}

.controladordetable2{
    width: 600px;
}
.divagergeren{
    align-items: center;
    flex-direction: column;

}