.body{
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-image: url(https://i.pinimg.com/564x/a7/ca/e6/a7cae60821b78266bc007e6422e1e1c4.jpg);
    background-size: 100% 100%;
}

.chefe{
    height: auto;
    width: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.rodape{
    color: royalblue;
    margin: 10px;
}

.monstro{
    height: auto;
    width: auto;
    background-color: darkgrey;
    border: 3px solid black;
    border-radius: 20px;
}

.page{
    margin: 20px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.eventos{
    height: auto;
    width:auto;
    border-radius: 20px;
    border: 3px solid black;
    margin: 10px;
    background-color: darkgrey;
}

.acoes{
    justify-content: space-evenly;
    display: flex;

}

.evento1, .evento2{
    width: 120px;
    margin-bottom: 9px;
}

.termos{
    margin: 5px;
    text-transform: capitalize;
}