.financas{
    background-attachment: scroll;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPSju2xFlQ-aLT-RY8S61LItvl0hjPrbX-zQ&usqp=CAU);
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(2, 146, 110), white);
    text-align: center;
}

.gerenciamento{
    flex-direction: column;
    display: flex;
    text-align: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Lucro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 100px;
    margin-top: 150px;
    margin-left: 75px;
    text-align: left;
    margin-bottom: 50px;
}

.qtdLivros{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 100px;
    margin-left: 75px;
    text-align: left;
    margin-bottom: 50px;
}

.Nmfuncionarios{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 100px;
    margin-left: 75px;
    text-align: left;
    margin-bottom: 50px;
}