.financas{
    margin-top: 0%;
    padding: 0%;
    height: 20vh;
    background-repeat: no-repeat;   
    background-size: 100% 100%;
    background-image: linear-gradient(orange,purple);
}
.irmao{
    margin-top: 0px;
    padding: 0%;
    height: 80vh;
    background-repeat: no-repeat;   
    background-size: 100% 100%;
    background-image: linear-gradient(white,white);
}
.gerenciamento{
    flex-direction: column;
    display: flex;
    text-align: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Lucro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 100px;
    margin-top: 87px;
    margin-left: 75px;
    text-align: left;
    margin-bottom: 50px;
}

.qtdLivros{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 100px;
    margin-left: 75px;
    text-align: left;
    margin-bottom: 50px;
}

.Nmfuncionarios{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 100px;
    margin-left: 75px;
    text-align: left;
    margin-bottom: 50px;
}
.voltar{
    margin: 1px;
    padding: 0%;
    margin-left: 80%;
}